.why-choose-section{
    padding: 40px 0px;
    width: 100%;
    background-color: var(--primary-color);
    
}
.why-choose-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.why-choose-us-img-container{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;height: 100%;
}
.mockup{
    width: 100%;

}
.card-counter{
    position: absolute;
    right: 20px;
    top: 10px;
    font-family: 'Montserrat','Lato';
    font-size: 3.5rem;
    color: white;
    font-weight: bolder;
}
.why-choose-us-text-container{
    width: 100%;
    margin-bottom: 10px;
}
.why-choose-us-text-container p{
    width: 95%;
}
.why-choose-us-card-container{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    margin-top: 40px;
    flex-wrap: wrap;
    flex-direction: column;
}
.why-choose-us-card{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius:5px;
    border: 1px solid hsl(0, 0%, 18%);
    cursor: pointer;
    padding: 30px 20px;
    margin: 20px 0px;
}
.why-choose-us-card span{
background: rgb(37, 172, 208);
    background: linear-gradient(to right, rgb(25, 123, 150) 0%, rgb(37, 172, 208) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.why-choose-us-card:hover span{
    transition: all 0.2s ease-in-out;
}

.why-choose-us-card h2{
    font-weight: 500;
    align-self: flex-start;
    color: white;
    margin: 10px 0px 20px 0px;
    font-size: 1rem;
    text-transform: uppercase;
}
.why-choose-us-card p{
    color: var(--mild-color);
    text-align: left;
    align-self: flex-start;
}
.why-choose-us-card svg{
    align-self: flex-start;
    font-size: 3.5rem;
    margin-bottom: 10px;
    color: var(--color-variant);
}

.outer {
    width: 100%;
    height: 270px;
    border-radius: 10px;
    padding: 1px;
    background: radial-gradient(circle 230px at 0% 0%, #ffffff, #0c0d0d);
    position: relative;
    text-transform: uppercase;
    margin: 20px 0px;
}

.dot {
    width: 5px;
    aspect-ratio: 1;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px #ffffff;
    border-radius: 100px;
    z-index: 2;
    right: 10%;
    top: 10%;
    animation: moveDot 6s linear infinite;
}

@keyframes moveDot {

    0%,
    100% {
        top: 10%;
        right: 10%;
    }

    25% {
        top: 10%;
        right: calc(100% - 35px);
    }

    50% {
        top: calc(100% - 30px);
        right: calc(100% - 35px);
    }

    75% {
        top: calc(100% - 30px);
        right: 10%;
    }
}

.card {
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 9px;
    border: solid 1px #202222;
    background-size: 20px 20px;
    background: radial-gradient(circle 280px at 0% 0%, #444444, #0c0d0d);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    color: #fff;
}

.ray {
    width: 220px;
    height: 45px;
    border-radius: 100px;
    position: absolute;
    background-color: #c7c7c7;
    opacity: 0.4;
    box-shadow: 0 0 50px #fff;
    filter: blur(10px);
    transform-origin: 10%;
    top: 0%;
    left: 0;
    transform: rotate(40deg);
}

.card .text {
    font-weight: bolder;
    font-size: 4rem;
    background: linear-gradient(45deg, #000000 4%, #fff, #000);
    background-clip: text;
    color: transparent;
}

.line {
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: #2c2c2c;
}

.topl {
    top: 10%;
    background: linear-gradient(90deg, #888888 30%, #1d1f1f 70%);
}

.bottoml {
    bottom: 10%;
}

.leftl {
    left: 10%;
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg, #747474 30%, #222424 70%);
}

.rightl {
    right: 10%;
    width: 1px;
    height: 100%;
}
   @media (max-width: 990px) and (min-width: 768px){
    .why-choose-us-text-container p{
        width: 90%;
    }
    .why-choose-us-card-container{
        flex-wrap: wrap;
    }
    .why-choose-us-card{
        width: 100%;
        margin-top: 20px;
    }
   }
   @media screen and (max-width: 767px){
    .why-choose-us-text-container p{
        width: 100%;
    }
    .why-choose-us-card-container{
        flex-direction: column;
        width: 95%;
    }
    .why-choose-us-card {
        width: 100%;
        margin: 20px 0px;
    }
    .why-choose-us-text-container h1{
        margin: 10px 0px;
        width: 100%;
    }
    .why-choose-section {
         flex-direction: column;
     }
     .why-choose-us-img-container{
        width: 100%;
     }
   }