.userdashboard-sidebar{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
    position: sticky;
    flex-direction: column;
    top: 0px;
    left: 0px;
    height: auto;
    min-height: 100vh;
    background-color: var(--primary-color);
    border-right: 1px dotted rgb(3, 11, 50);
    align-self: flex-start;
    flex-direction: column;
    overflow: auto;
    padding: 10px;
    /* border: 2px solid green; */
}
.dashboard-links-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: auto;
    /* border: 2px solid green; */
    padding: 10px;
}
.dashboard-links{
    text-transform: capitalize;
    width: 90%;
    text-align: left;
    padding: 8px 8px;
    font-family: "Poppins" ;
    cursor: pointer;
    border-radius: 10px;
    margin: 5px 0px;
    background-color: rgb(0, 6, 31);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dashboard-links a{
    color: rgb(203, 203, 203);
    width: 75%;
    font-size: .9rem;
}
.dashboard-links p{
    text-align: left;
    width: 75%;
}
.dashboard-links:hover{
    background-color: rgb(0, 9, 44);
}
.dashboard-links:hover a{
    color: #ffffff;
}

.dashboard-svg-container svg{
    color: var(--color-variant);
    font-size:1.5rem ;
}
.dashboard-logo-container{
    width: 100%;
    box-sizing: border-box;
    height: 100px;
    cursor: pointer;
}
.dashboard-logo{
    width: 100%;
    object-fit: cover;
    height: 100%;
    margin-left: -50px;
}
.drop-down{
    position: fixed;
    right: 2px;
    top: 10px;
    padding: 0px 0px 10px 0px;
    width: 280px;
    background-color: white;
    box-shadow: 0px 3px 10px #ddd;
    z-index: 10;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.dropdown-header{
    width: 100%;
    padding: 15px 20px;
    background-color: rgb(240, 240, 240);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.dropdown-user-details{
    width: 80%;
    padding: 5px;
}
.dropdown-email{
    font-size: .8rem;
    color: rgb(80, 80, 80);
    text-align: left;
    word-break: break-all;
}
.profile-pic-container{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    color: white;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}
.dropdown-name{
    color: var(--secondary-color);
    font-size: 1rem;
    text-align: left;
    text-transform: uppercase;
}
.dropdown-deposit-container{
    width: 100%;
    padding: 10px 20px;
    font-family: roboto;
}
.dropdown-deposit-container h3{
    font-size: .9rem;
    text-align: left;
    font-family: roboto;
}
.dropdown-deposit-container h2{
    font-size: 1.5rem;
    margin: 6px 0px 6px 0px;
    text-align: left;
    font-weight: 400;
    font-family: roboto;
    color: rgba(17, 43, 209, 0.701);
}
.dropdown-deposit-container p{
    font-size: .8rem;
    text-transform: capitalize;
    color: rgb(99, 99, 99);
    text-align: left;
}
.mobile-tabs{
    width: 100%;
    display: none;
}
.dropdown-tabs{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    /* box-shadow: 0px 0px 1px #ddd; */
    cursor: pointer;
}
.dropdown-tabs p{
    width: 90%;
    font-size: .8rem;
    color:rgb(99, 99, 99) ;
    text-transform: capitalize;
    text-align: left;
}
.dropdown-tabssvg{
    font-size: 1rem;
    color:rgba(17, 43, 209, 0.701);
}
.profile-pic-container img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.dropdown-tabs svg{
    margin: auto;
}
.userdashboard-logo-container{
    width: 30%;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-start;
    margin-left: 65px;
}
.userdashboard-logo-container img{
    object-fit: cover;
    width: 70%;
    height: 100%;
}
.scroll-head{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
}
@media (max-width: 990px) and (min-width: 768px){
    .user-header-nav{
        display: none;
    }
    .mobile-tabs{
        width: 100%;
        display: block;
    }
    .userdashboard-sidebar {
        display: none;
        overflow: hidden;
    }
}
@media screen and (max-width: 767px){
    .m-drop-container{
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 10 !important;
    }
    .userdashboard-sidebar{
        display: none;
        overflow: hidden;
    }
    .mobile-tabs{
        width: 100%;
        display: block;
    }
    .drop-down{
        width: 90%;
        overflow: auto;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 20;
    }
    .userdashboard-logo-container{
        width: 60%;
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: flex-start;
        margin-left: 0px;
    }
    .userdashboard-logo-container img{
        object-fit: cover;
        width: 60%;
        height: 100%;
    }
    .dropdown-tabs{
        z-index: 10 ;
    }
}