.videoframe-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding: 0px 0px;
    }

.videoframe-text-container{
    width: 80%;
    padding: 0px 0px 50px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.videoframe-text-container h1{
    font-size: 4rem;
    color: white;
    font-weight: 600;
    font-family: "Palanquin",'Poppins',sans-serif;
}
.videoframe-text-container p{
    width: 70%;
    text-align: center;
}
 @media screen and (max-width: 767px) {
    .video-wrapper .video{
        object-fit: contain;
    }
    .videoframe-text-container h1{
        font-size: 2.5rem;
        font-weight: 500;
    }
    .videoframe-text-container{
        width: 90%;
    }
    .video-wrapper{
        padding: 10px 0px 20px 0px;
    }
    .videoframe-text-container p{
        width: 100%;
    }
 }