.traders-showcase{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    background-image: url('../../../public/signalsynchmockup8.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 250px;
    background-color: rgb(16, 73, 88);
    border-radius: 20px;
}
.trader-show-case-wrapper{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.traders-showcase h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: white;
    text-transform: capitalize;
    text-align: left;
    align-self: flex-start;
}
.traders-showcase p{
    font-size: 16px;
    margin-bottom: 20px;
    text-align: left;
    align-self: flex-start;
    width: 30%;
}
.traders-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}
.treader-header{
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.treader-header h1{
    font-size: 2rem;
    align-self: flex-start;
}
.search-input-container{
    margin-top: 30px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid rgb(59, 59, 59);
    align-self: flex-start;
}
.search-input{
    width: 90%;
    height: 100%;
    border: none;
    background-color: transparent;
    padding: 0px 20px;
    outline: 0px;
    background-color: white;
    border-radius: 0px 10px 10px 0px;
}
.search-btn{
    width: 10%;
    height: 100%;
    color: rgb(31, 69, 150);
    border: none;
    border-radius: 10px 0px 0px 10px;
    cursor: pointer;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.traders-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}
.traders-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: auto;
    border: 1px solid rgb(63, 63, 63);
    border-radius: 20px;
    padding: 20px;
    margin: 10px 0px;
}
.trader-card-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.trader-card-image-container{
    width: 25%;
    height: 100px;
}
.trader-card-image-container img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.trader-card-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
    height: 100%;
    text-align: left;
}
.trader-card-text-container h3{
    font-size: 1rem;
    color: white;
    text-transform: capitalize;
    align-self: flex-start;
}
.trader-card-text-container p{
    font-size: .8rem;
    color: rgb(225, 225, 225);
    text-align: left;
    align-self: flex-start;
}
.trader-perfomance-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    flex-direction: column;
}
.trader-performance{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    text-align: left;
    flex-direction: column;
}
.trader-performance-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100% ;
    margin-top: 10px;
    text-align: left;
}
.trader-performance-btn-container{
    width: 100%;
}
.trader-card-btn{
    width: 100%;
    height: 50px;
    background-color: var(--color-variant);
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
.performance-value{
    font-size: .9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(12, 205, 80);
}
.performance-value svg{
    
    font-size: 1.5rem;
    margin-right: 10px;
}
.trader-profile-page{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 50px 30px;
    border-radius: 20px;
    flex-direction: column;
}
.trader-profile-container{
    width: 90%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.trader-profile-card{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 30px 20px ;
    border-radius: 20px;
    background-color: rgb(10, 16, 26);
}
.performance-value{
    text-transform: capitalize;
}
.trader-plan-card{
    width: 80% ;
}
.trader-plan-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.trader-page-header{
    width: 80%;
    text-align: left;
}
.trader-page-close-btn{
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 10px;
    align-self: flex-start;
    background-color: rgb(41, 41, 41);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}
.trader-page-close-btn:hover{
    background-color: rgb(21, 21, 21);
    transition: .1s all ease-in-out;
}
.active-trader-container{
    width: 100%;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.active-trader-header{
    width: 100%;
    text-align: left;
    
}
.active-trader-card-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.trader-card-text-container button{
    align-self: flex-start;
    cursor: pointer;
}
.active-trader-card{
    width: 100%;
}
.active-trader-card .trader-card-image-container{
    height: 100px;
    width: 100px;
    
}
.active-trader-card .trader-card-text-container{
    width: 85%;
}
@media screen and (max-width: 990px) {
    .active-trader-container{
        padding: 0px 0px;
    }
    .active-trader-card .trader-card-text-container {
        width: 65%;
    }
    .trader-profile-page{
        width: 100%;
        padding: 10px;
    }
    .trader-profile-container{
        width: 100%;
        margin: 0px;
    }
    .trader-profile-card{
        width: 100%;
    }

}

@media screen and (max-width: 767px) {
    .traders-showcase::after{
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(2, 12, 31, 0.7);
        z-index: 1;
    }
    .traders-showcase{
        height: auto;
        position: relative;
        padding: 50px 20px;
        z-index: 1 ;
    }
    .traders-showcase p{
        width: 100%;
        z-index: 2;
    }
    .traders-showcase-header{
        z-index: 2;
    }
    .trader-card-text-container{
        width: 70%;
    }
    .active-trader-card{
        width: 100%;
    }
    .search-input-container{
        width: 100%;
    }
    .traders-card{
        width: 100%;
    }
}