.verifyPageSection{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.verifyPageTextWrapper{
    width: 50%;
}
.verifyPageTextWrapper h1{
    color: white;
}
.verifyPageTextWrapper svg{
    font-size: 6rem;
    color: aquamarine;
}
.verifyPageTextWrapper button{
    cursor: pointer;
}
.verifyPageTextWrapper a{
    padding: 10px 30px ;
    color: black;
    text-transform: capitalize;
    background-color: aquamarine;
}
.verifyPageTextWrapper p{
    margin: 15px 0px;
}
@media screen and (max-width: 767px){
    .verifyPageTextWrapper {
            width: 85%;
        }
}